/* Your Custom CSS Goes here */

.carousel .item {
    height: 300px !important;
}

.container-fluid {
    display: block !important;
}

.user-info-text {
    color: white !important;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-link {
    color: #000;
}

.btn-link:hover,
.btn-link:focus,
.btn-link.focus {
    text-decoration: none !important;
}

.user-info-text ::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

.btn-primary {
    background-color: #34B1E8 !important;
    color: #fff !important;
    border-radius: 30px !important;
}

main-color {
    background-color: #34B1E8;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #1388BB !important;
    border-color: #1388BB !important;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff !important;
    background-color: #1388BB !important;
    border-color: #1388BB !important;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5) !important;
}

.border-home {
    border: 1px solid #34B1E8;
    border-radius: 30px;
    padding: 4rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

video {
    pointer-events: none;
}

.carousel-indicators {
    width: 70% !important;
}

.carousel-indicators li {
    background-color: #9E9E9E !important;
    border: transparent !important;
}

.carousel-indicators .active {
    background-color: #34B1E8 !important;
    border: transparent !important;
    height: 12px !important;
    width: 12px !important;
}

@media (max-width: 780px) {
    .app-auth-container {
        margin: 0px;
        padding: 0px;
    }
    .border-home {
        border: transparent;
        padding: 0;
        overflow-y: auto;
    }
}

@media (min-width: 780px) {
    .divider {
        display: none;
    }
}